.business.well
  .row
    .col-xs-9
      = link_to business_path(business) do
        %h2
          = "#{(index + 1)} #{business.name}"
      %small
        = meta(business)
      %p
        = business.blurb
    - if business.sale?
      .col-xs-3
        = link_to business_path(business), class: "sale-item text-center" do
          .sale-tag
            Sale! 
          #{business.coupons.first.discount_percent}% Off!