.section.container
  .row
    .page-header.row
      %h1 
        = @business.name
        %small 
          = meta(@business)
    .business-info
      .row.well
        .col-sm-4
          = image_tag(@business.img_url)
        .col-sm-6
          %dl
            %dt
              = "What is #{@business.name}?"
            %dd
              = @business.synopsis
            %dt
              = "Where is #{@business.name}?"
            %dd
              = @business.location
            %dt 
              Description
            %dd
              = @business.description
  .row  
    .col-sm-6
      .page-header
        %h2
          Review this Business
      .well
        = bootstrap_form_for [@business, @review] do |f|
          .row
            %fieldset.col-sm-12
              = f.select :rating, options_for_business_reviews
              = f.text_field :title, label: "Review Title"
              = f.text_area :description
          .row
            %fieldset.actions.control-group.col-sm-8
              .controls.form-group
                %input(type="submit" value="Submit" class="btn btn-default")
    .col-sm-6
      .page-header
        %h2
          Buy a Coupon
      .row
        .well
          - if @business.sale?
            - @business.coupons.each do |coupon|
              = bootstrap_form_tag url: charges_path do 
                %header
                  %h2
                    #{coupon.discount_percent}% Coupon for only #{number_to_currency(coupon.price)}
                .row
                  %p.alert-warning(style="margin: 15px; padding: 4px;")
                    = coupon.description
                  = hidden_field "amount", coupon.price
                .row
                  %fieldset.actions.control-group.col-sm-8
                    .controls.form-group
                      %script(src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_ZWMUvrkjz8pINiKAT8uociHm" data-amount="#{coupon.price}" data-name="Kelp" data-description="Coupon purchase for #{@business.name}" data-locale="auto")
              .row
                %p.alert-danger(style="margin: 15px; padding: 4px;")
                  Act fast, it won't last long!
          - else
            Nothing for sale at this time.
  - if @business.reviews?
    .row
      .page-header
        %h2
          Reviews for #{@business.name}
    - @business.reviews.each do |review|
      .review.well
        %h2
          = review.title ? review.title : "Review"
          %small
            = "#{review.rating}/5 Stars"
        %small
          = link_to "by #{review.user.username}", user_path(review.user)
        %p
          = review.description
