.section.container
  .row
    .page-header.row
      .col-xs-9
        %h1 
          = @business.name
          %small 
            = meta(@business)
      .col-xs-3
        = render partial: 'relationships/follow', locals: { obj: @business }
    .business-info
      .row.well
        .col-sm-4
          = image_tag(@business.img_url)
        .col-sm-6
          %dl
            %dt
              = "What is #{@business.name}?"
            %dd
              = @business.synopsis
            %dt
              = "Where is #{@business.name}?"
            %dd
              = @business.location
            %dt 
              Description
            %dd
              = @business.description
  .row  
    .col-sm-6
      .page-header
        %h2
          Review this Business
      .well
        = bootstrap_form_for [@business, @review] do |f|
          .row
            %fieldset.col-sm-12
              = f.select :rating, options_for_business_reviews
              = f.text_field :title, label: "Review Title"
              = f.text_area :description
          .row
            %fieldset.actions.control-group.col-sm-8
              .controls.form-group
                %input(type="submit" value="Submit" class="btn btn-default")
    .col-sm-6
      .page-header
        %h2
          Buy a Coupon
      .row 
        - if @business.sale?
          - @business.coupons.each do |coupon|
            = render partial: "/vendor/coupons/coupon_chargable", locals: { coupon: coupon }
        - else
          Nothing for sale at this time.
  - if @business.reviews?
    .row
      .page-header
        %h2
          Reviews for #{@business.name}
    - @business.reviews.each do |review|
      = render partial: "/reviews/review", locals: { review: review }
