.section.profile.container
  .page-header.row
    .col-sm-6.col-sm-offset-2
      %h1
        = @user.username
      %small 
        = "Authored #{@user.reviews.count} Reviews"
    .col-xs-2
      = render partial: 'relationships/follow', locals: { obj: @user }
  .personal-info.row
    .col-sm-8.col-sm-offset-2
      .row.well
        .col-sm-6
          = image_tag @user.img_url
        .col-sm-6
          %dl
            %dt
              About
            %dd
              %p= @user.about
  - if @user.following_reviewers?
    .row 
      .col-sm-8.col-sm-offset-2
        .page-header.row
          %h2
            Reviewers User is Following
        - @user.watched_reviewers.each do |reviewer|
          = render partial: 'users/reviewer', locals: { reviewer: reviewer }
  - if @user.following_businesses?
    .row 
      .col-sm-8.col-sm-offset-2
        .page-header.row
          %h2
            Businesses User is Following
        - @user.watched_businesses.each_with_index do |business, index|
          = render partial: 'businesses/business_listing', locals: { business: business, index: index }
  - if @user.has_coupons?
    .row 
      .col-sm-8.col-sm-offset-2
        .page-header.row
          %h2
            User Coupons
        - @user.coupons.each do |coupon|
          = render partial: 'vendor/coupons/coupon', locals: { coupon: coupon, context: 'purchaser'}
  - if current_user.vendor? && @user.businesses.count > 0
    .row
      .col-sm-8.col-sm-offset-2
        .page-header.row
          %h2
            User Owned Businesses
        - @user.businesses.each_with_index do |business, index|
          = render partial: 'vendor/businesses/owned_business_listing', locals: { business: business, index: index}
  - if @user.has_reviews?
    .row              
      .col-sm-8.col-sm-offset-2
        .page-header.row
          %h2
            User Reviews
        - @user.reviews.each do |review|
          .review.well
            %h2
              = review.title ? review.title : "Review"
              %h2 
              = link_to "#{review.business.name}", business_path(review.business)
              %small
                = "#{review.rating}/5 Stars"
            %p
              = review.description
